<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="add" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        Enter name: <input type="text" name="name"><br>
        Enter price: <input type="text" name="price"><br>
        Enter type: <input type="text" name="type"><br>
        Enter description: <input type="text" name="description"><br>
        Add Image: <input type="file" name="image"><br>
        <input type="submit">
    </form>

</body>
</html>